@import url('https://fonts.googleapis.com/css?family=Baloo%202:700|Baloo%202:400');

:root[data-theme="light"] {
    --text: #170e0c;
    --text2: #757474;
    --background: #fff5f5;
    --hover: #ffffff;
    --primary: #ee9a8b;
    --accent: #ec6851;
}

:root[data-theme="dark"] {
    --text: #eaeaea;
    --text2: #a8a8a8;
    --background: #121212;
    --hover: #1e1e1e;
    --primary: #ec6851;
    --accent: #f3836f;
}

body {
    font-family: 'Baloo 2';
    font-weight: 400;
    width: 100%;
    background: var(--background);
    color: var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 500ms;
}

html { font-size: 100%; } 

h1 {
    font-size: 3.510rem;
    padding: 75px 0 50px;
    color: var(--accent);
    justify-content: center;
    display: flex;
    text-transform: uppercase; 
}

ul {
    list-style: none;
}

#theme {
    background: none;
    border: none;
    right: 1rem;
    top: 1rem;
    position: absolute;
}

#theme svg {
    fill: var(--accent);
}

#theme:hover {
    cursor: pointer;
    transform: scale(105%);
}

#content {
    display: flex;
    width: 600px;
    max-width: 100%;
    flex-direction: column;
    transition: 500ms;
}

#content.with-tasks {
    border-radius: 20px;
    background-color: var(--hover);
}

form {
    position: relative;
}

#newTask {
    background-color: var(--hover);
    color: var(--text);
    box-sizing: border-box;
    border-radius: 20px;
    border: solid 2px var(--primary);
    width: 100%;
    padding: 10px;
    transition: 500ms;
}

#newTask:hover, #newTask:focus {
    border: 2px solid var(--accent);
    outline: none;
    transition: 300ms ease;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px var(--background) inset;
    -webkit-text-fill-color: var(--text);
}

input:-webkit-autofill::placeholder {
    color: var(--text2);
}

#addTask {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 20px;
    height: 100%;
    width: 60px;
    border: 2px solid var(--primary);
    background: var(--primary);
}

#addTask svg{
    fill: var(--hover);
}

#addTask:hover, #addTask:focus {
    cursor: pointer;
    border: 2px solid var(--accent);
    background: var(--accent);
    outline: none;
    transition: 300ms ease;
}

.task {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    color: var(--text);
}

.task .task-text:hover {
    cursor: pointer;
}

.task .task-text {
    flex-grow: 1;
}

.checking-button {
    border: 2px solid var(--primary);
    border-radius: 50%;
    min-height: 20px;
    min-width: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: 300ms ease;
}

.checking-button svg {
    fill: transparent;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked ~ .checking-button {
    background-color: var(--primary);
}

input[type="checkbox"]:checked ~ .checking-button svg {
    fill: var(--hover);
}

input[type="checkbox"]:checked ~ .task-text {
    text-decoration: line-through;
    color: var(--text2);
}

.deleteTask, .drag-handle {
    background: none;
    border: none;
    right: 10px;
    top: 10px;
}

.deleteTask svg, .drag-handle svg {
    fill: var(--text2);
}

.deleteTask:hover svg, .drag-handle:hover svg {
    fill: var(--text);
    transform: scale(105%);
}

.deleteTask:hover {
    cursor: pointer;
}

.drag-handle {
    opacity: 0.5;
    cursor: grab;
    transition: opacity 500ms;
}

.drag-handle:active {
    opacity: 1;
    cursor: grabbing;
}

.task.dragging {
    opacity: 0.5;
}

.notification button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-weight: bold;
    color: var(--accent);
    padding: 0.5rem;
}

.notification {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: var(--hover);
    display: none;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding-left: 0.5rem;
}

.notification svg, .notification button svg{
    fill: var(--text);
}

.notification.show {
    animation: warning 500ms ease-in-out forwards;
    display: flex;
}

@keyframes warning {
    0%{
        opacity: 0;
        right: 0;
        top: 1rem;
    }
    5%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        right: 1rem;
    }
}